html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
    clear: both;
}
#content {
    /*margin-top: 122px;*/
    /*clear: both;*/
    /*padding-left: 60px;
    padding-right: 60px;*/
	padding-bottom:51px;
    padding-top:122px; 
}
#footer {
	width:100%;
	height:51px;
	position:absolute;
	bottom:0;
	left:0;
}

#footer .btn-outline {
    margin-top: 0px;
}

section {
    padding: 0px;
}

.searchForm label {
    text-align: right;
    margin-right: 4px;
}

.searchForm chkLabel {
    text-align: left;
    margin-right: 10px;
}

.searchForm input[type=checkbox] {
    vertical-align: sub;
}

footer .footer-below {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	padding:10px;
    height: 121px;
}

#content {
    padding: 10px 40px;
}

footer {
	position: absolute; bottom: 0;width: 100%; height: 70px;
}*/

.navbar {
  margin-bottom: 0px;
  border: 0px;
}

.navbar-brand {
    height: 35px;
}

.navbar-header2 {
    /*font-size: 8px;*/
}

.navbar-brand {
    padding-top: 3px;
    padding-bottom: 3px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

#homeDiv p, #aboutDiv p {
    font-size: 14px;
}

.searchLabel {
    width: 100px;
    text-align: right;
    margin: 0px 10px;
}

.searchLabelLeft {
    text-align: left;
}

.grid {
  width: 1000px;
  height: 500px;
}

div.white-space-pre-line {
    white-space: pre-line;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}


/** Overrides **/
.navbar-default, footer .footer-below {
    background-color: #000000;
}

.navbar {
    font-family: Lato, 'Gill Sans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
}

/*.menuSection {
    background-color: #43090A;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}*/

body {
    /*background-color:#ededed;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: darkgray;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #562425;
}


/**/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: gray;
}

.nav-tabs {
    border-bottom: 1px solid #562425;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #562425;
    border-bottom-color: transparent;
}

.searchForm {
    font-size: 12px;
}

.searchForm .inpuField {
    margin-right: 2px;
}

.searchForm input[type=text], .searchForm select, .searchForm .searchSelect{
    width: 114px;
}

.searchForm #txtSubject, .searchForm #txtNotes, .searchForm #selectSubject {
    width: 310px;
}

.searchForm #txtSubject, .searchForm #txtNotes {
    height: 46px;
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}
.searchForm .searchCol_long{
    width: 310px;
    
}

.searchForm .searchCol1Label {
    width: 75px;
}

#divVet .searchForm input[type=text], #divVet .searchForm select, #divVet .searchForm .searchSelect {
    width: 140px;
}

#divVet .searchForm .searchCol1Label {
    width: 84px;
}

#divVet .searchForm .searchCol3Label {
    width: 100px;
}

#divVet .searchForm .searchCol4Label {
    width: 80px;
}

#divVet .searchForm #txtOrganization {
    width: 364px;
}

#divVet .searchForm #txtComment {
    width: 420px;
    height: 280px;
}

#divVet .includeNotes {
    display: inline-block;
    vertical-align: middle
}


.searchForm .searchCol2Label {
    width: 75px;
}

.searchForm .pwdLabel {
    width: 150px;
}

.searchForm .searchCol3Label {
    width: 64px;
}

.searchForm .searchCol4Label {
    width: 70px;
}

.searchForm .searchCol5Label {
    width: 65px;
}

.form-group-sm .form-control {
    height: 30px;
    padding: 3px 5px;
    font-size: 12px;
}

.btn-sm, .btn-group-sm > .btn {
    height: 30px;
    padding: 3px 5px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.35;
}

.searchForm button {
    vertical-align: bottom;
}

.breakLongWord {
    word-wrap: break-word;
}

/*Grid */
.keepNewLine {
    white-space: pre-wrap;
}

.keepNewLineText {
    white-space: pre;
}

.defaultIcon {
    color: black;
}

.defaultIconError {
    color: red;
}

.iconWord {
    color: #2B579A;
}

.iconExcel {
    color: #217346;
}

.iconPdf {
    color: #E91F00;
}

.disabledIcon {
    color: gray;
}

.selectedRow {
    background-color: lightblue;
}

.linkStyle {
     cursor: pointer; 
     cursor: hand;
}

/** Spinner **/
.spinner {
  width: 100px;
  height: 100px;
 
  position: absolute;
  top: calc(50% - 70px);
  left: calc(50% - 50px);
}
 
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #43090A;
  /*background-color: #9c9;*/
  border: solid 3px #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
 
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
 
/*.waitoverlay {
    -ms-opacity: .75;
    opacity: .75;
    background-color: #00FF00;
    position: absolute;
    z-index: 5;
    -ms-border-radius: 3px;
    border-radius: 3px;
}*/

.please-wait {
  text-align: center;
  position: absolute;
  top: calc(50% + 45px);
    width: 100%;
  /*left: calc(50% - 45px);*/
  color: #fff;
  z-index: 10;
}

.mandatoryField {
    color: red;
    width: 5px;
}

.navbar {
     text-transform: none; 
}

#manualFrame{ width:100%; padding:0; border:0; height: 650px; }

.pagination {
    margin: 5px 0;
}

td {
    font-size: 14px;
}

.st-sort-ascent:before{
    content: '\25B2';
  }

  .st-sort-descent:before{
    content: '\25BC';
  }

.container {
    width: 1015px;
}

 @media (min-width: 768px) {
  .container {
    width: 1010px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 1010px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.termAndConditionTextArea {
    height: 350px;
    border: 1px solid #CCCCCC;
    padding: 2px;
    /*border-style: solid;
    border-color: #000000;*/
}

@media screen and (max-height: 800px) {
  .termAndConditionTextArea {
    height: 200px;
  }
}

.termAndConditionTextArea p {
    font-size: 14px;
}

body {
    overflow-x: auto;
}

/* Button overrider color */
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success,
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning,
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger,
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info
 {
    color: #ffffff;
    background-color: #562425;
    border-color: #562425;
}

.btn-success, .btn-success[disabled],
.btn-warning, .btn-warning[disabled],
.btn-danger, .btn-danger[disabled],
.btn-info, .btn-info[disabled] {
    color: #ffffff;
    background-color: #43090A;
    border-color: #43090A;
}

a, a:hover, a:focus, a:active, a.active {
    color: #43090A;
}
a:hover, a:focus {
    color: #43090A;
}

.navbar-header .headerNoHover:hover,
.navbar-header .headerNoHover:focus {
  color: white;
}

.dropdown-menu {
    background-color: #43090A;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #562425;
}
.dropdown-menu > li > a {
    color: white;
}

.homeLogo {
    margin-left: -15px;
    height: 68px;
}

.companyName {
    font-size: 16px;
}

.btnLogin {
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    color:black;
     
}



.parc-result{
    width:95%;
}
.parc-result .modal-content {  
}
.parc-result .modal-header{   
    color:white;
}
.parc-result .modal-body{ 
    overflow-x:auto;
    overflow-y:auto; 
    max-height: calc(100vh - 200px);
    height: calc(100vh - 200px);
}
.parc-result .modal-footer{
    padding:4px;
}

.parc-result .close{    
    background-color:#562425;
    border-color:#562425;
    color:white;    
}
.parc-content{  
    white-space:pre-wrap;
}

.vetKey {
    width: 50px;
    display: inline-block;
}

.vetValue {
    display: inline;
}

.parc-result-preview-table >tr> td:first-child {
    text-align: right;
}​

.parc-result-preview-table td{    
    text-align:right;
}

.parc-result-preview-table tr> td{
   text-align:right;  
}

.parc-result-preview-table tr:first-child>td{
   text-align:left;
  font-weight:bold;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}


.parc-sorted {
     cursor:pointer;


}
.parc-sorted.desc:before {
     content: "\25bc";


}
.parc-sorted.asc:before {
     content: '\25b2';


}

.parc-main-menu-pulldown{
    position: absolute;
    right: 0px;
    top:0px;
    font-size: 30px;
    display:block;
    color: white;
    background-color: transparent;
    border-color: transparent;
}
.section-top-left
{
    padding-left:15px;
}
.parc-main-menu-pulldown
{
    display:block;
}

.section-top-right
{
    display:none;
}
@media(min-width:768px){
    .parc-main-menu-pulldown 
    {
        display:none;
    } 
    .section-top-right
    {
        display:block;
    }
}


/*.td-notes, .td-icons{
    word-break: break-all;
}*/

.td-notes, .td-icons > a {
    word-break: break-all;
}

.td-notes, .td-icons {
    word-break: break-word;
}


.parc-info{
    width: auto;
    margin-left: 82px;
    color: gray;
    font-weight: 100;
}
 
body.no-header #header{ 
  display:none;
}

body.no-header #content{ 
    padding-top:0px;
    padding-bottom:0px;
} 

body.no-footer #footer{ 
    display:none;    
}

body.no-search-filter .panel.panel-default{ 
     display:none;
}