<!doctype html>
<html>
    <head>
        <title>PARC Color Configurator</title>
        <!-- Load fontawesome icons (replacements for glyphs) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- Bootstrap and other stylesheets directly from PARC -->
        <link rel="stylesheet" href="parc/bootswatch.css">
        <link rel="stylesheet" href="parc/freelancer.css">
        <link rel="stylesheet" href="parc/main.css">
        <!-- Custom fonts directly from PARC -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- Custom styles -->
        <link rel="stylesheet" href="style.css">
        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>

    <body>
        <div id="container" :style="customStyle">
            <div id="preview">
                    <div id="header">
                        <nav class="navbar navbar-default navbar-fixed-top" style="padding-top: 10px; padding-bottom: 0px;">
                           <div class="container">
                              <!-- Brand and toggle get grouped for better mobile display -->
                              <div class="navbar-header section-top-left" style="width: 50%;">
                                 <a ng-href="" target="_blank">
                                 <img id="primaryLogo" src="parc_logo.png" class="homeLogo">
                                 </a>
                                     <button class="navbar-toggler parc-main-menu-pulldown" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                                      <i class="fas fa-th-list"></i>
                                  </button>
                              </div>
                              <div class="section-top-right" style="width: 50%; float: right; font-size: 8px">
                                 <a ng-href="" target="_blank">
                                 <!-- <img id="secondaryLogo" src="powered_by_parc.png" style="float: right; height: 30px; margin-top:32px;"> -->
                                 </a>
                                 <table style="float: right; margin-right: 6px;">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: middle; float: right; height: 34px;">
                                                <a ng-hide="domainConfiguration.isSubdomain" style="padding: 6px 0px 0px 0px; text-decoration: none; font-size: 16px; font-weight: bold;" class="navbar-brand" href="http://www.langerresearch.com/parc" target="_blank">Langer Research Associates</a>
                                            </td>
                                        </tr>
                                    <tr>
                                       <td style="vertical-align: middle; text-align: right">
                                          <button type="button" class="btn btn-sm btn-success btnLogin ng-hide" ng-click="login()" ng-hide="hideLoginButton()">
                                          <i class="fas fa-cog"></i> Login
                                          </button>
                                          <span class="navbar-brand headerNoHover companyName ng-binding" style="font-size: 16px;">Langer Research Associates</span>
                                          <!-- <div class="btn-group" role="group" ng-show="isUserLoggedIn">
                                             <button type="button" class="btn btn-sm dropdown-toggle btn-success ng-binding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             Sofi Sinozich
                                             <i class="fas fa-cog"></i>
                                             </button>
                                             <ul class="dropdown-menu">
                                                <li><a ng-click="logout()">Logout</a></li>
                                                <li><a ng-click="changePassword()" ng-show="canChangePassword" class="">Change Password</a></li>
                                             </ul>
                                          </div> -->
                                       </td>
                                    </tr>
                                 </tbody></table>
                              </div>
                           </div>
                           <div class="menuSection">
                              <div class="container">
                                 <!-- Collect the nav links, forms, and other content for toggling -->
                                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="clear: both; overflow: auto; margin-left: -16px">
                                    <ul class="nav navbar-nav navbar-left" style="text-transform: uppercase;">
                                       <li ng-class="{active : isHomeMenu}">
                                          <a href="#home" ng-click="selctMenu('home')">Home</a>
                                       </li>
                                       <li ng-class="{active : isSearchMenu}" class="active">
                                          <a href="#search" ng-click="selctMenu('search')">Search</a>
                                       </li>
                                       <li ng-class="{active : isAdminMenu}">
                                          <a href="#admin" ng-click="selctMenu('admin')" ng-show="isUserLoggedIn" class="">Admin</a>
                                       </li>
                                       <li ng-class="{active : isUserMenu}" ng-show="hasUserManagementRights()" class="">
                                              <a href="#user" ng-click="selctMenu('user')">User</a>
                                       </li>
                                       <li ng-class="{active : isVetMenu}" ng-show="manageVet" class="ng-hide">
                                              <a href="#vet" ng-click="selctMenu('vet')">Poll Vets</a>
                                          </li>
                                       <li ng-class="{active : isManualMenu}">
                                          <a href="#manual" ng-click="selctMenu('manual')">Manual</a>
                                       </li>
                                       <li ng-class="{active : isCustomTabMenu}" ng-show="hasCustomTab" class="ng-hide">
                                          <a href="#customTab" ng-click="selctMenu('customTab')" class="ng-binding"></a>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </nav>
                     </div>
                    <div id="content" class="container">
                        <div id="search" ng-controller="searchController" style="margin-top: 5px;" ng-if="clientConfigLoaded" class="ng-scope">
                            <div>
                                <!-- This is all directly from PARC, so classes will line up -->
                                <div class="panel panel-default">
                                    <div class=" panel-heading">Search Criteria</div>
                                    <div class="panel-body">
                                        <form class="form-inline searchForm ng-pristine ng-valid ng-valid-date ng-valid-required" role="form" autocomplete="on">
                                            <div class="form-group-sm">
                            
                                                <label for="txtKeyword" class="searchCol1Label">Keyword :</label>
                                                <input id="txtKeyword" type="text" ng-model="search.keyword" class="form-control searchCol1Field ng-pristine ng-untouched ng-valid" placeholder="Keyword" ng-keypress="($event.which === 13)?getResult():0" autocomplete="on" tabindex="1">
                            
                                                <label for="txtPoll" class="searchCol2Label ng-binding">Project :</label>
                                                <input id="txtPoll" type="text" ng-model="search.pollName" class="form-control searchCol2Field ng-pristine ng-untouched ng-valid" placeholder="Project" ng-keypress="($event.which === 13)?getResult():0" tabindex="2">
                            
                                                <label for="txtQuestionNo" class="searchCol3Label">Question #:</label>
                                                <input id="txtQuestionNo" type="text" ng-model="search.questionNos" class="form-control searchCol3Field ng-pristine ng-untouched ng-valid" placeholder="Question Numbers" ng-keypress="($event.which === 13)?getResult():0" title="Question numbers separated by comma." ng-disabled="isOnlyAnalysis" tabindex="3">
                            
                                                <label for="txtFromDate" class="searchCol3Label">From :</label>
                                                <p class="input-group searchCol3Field" style="margin-bottom: 0px;">
                                                    <input id="txtFromDate" type="text" style="width: 100px;" placeholder="mm/dd/yyyy" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-date ng-valid-required" datepicker-popup="MM/dd/yyyy" ng-model="search.startDate" is-open="status.openedFromDate" min-date="minDate" max-date="'2220-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" ng-keypress="($event.which === 13)?getResult():0" show-weeks="false" tabindex="4"><!-- ngIf: isOpen -->
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-sm btn-success" ng-click="openFromDate($event)" ng-disabled="isEditMenu"><i class="fas fa-calendar-alt"></i></button>
                                                    </span>
                                                </p>
                            
                                                <label for="txtToDate" style="width: 30px;">To :</label>
                                                <p class="input-group searchCol3Field" style="margin-bottom: 0px;">
                                                    <input id="txtToDate" type="text" style="width: 100px;" placeholder="mm/dd/yyyy" class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-date ng-valid-required" datepicker-popup="MM/dd/yyyy" ng-model="search.endDate" is-open="status.openedToDate" min-date="minDate" max-date="'2220-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="false" close-text="Close" ng-keypress="($event.which === 13)?getResult():0" show-weeks="false" tabindex="5"><!-- ngIf: isOpen -->
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-sm btn-success" ng-click="openToDate($event)" ng-disabled="isEditMenu"><i class="fas fa-calendar-alt"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                            
                            
                                            <div class="form-group-sm" style="margin-top: 5px;" ng-show="isAdvSearch">
                                                <label for="txtSponsor" class="searchCol1Label ng-binding">Client :</label>
                                                <input id="txtSponsor" type="text" ng-model="search.sponsor" class="form-control searchCol1Field ng-pristine ng-untouched ng-valid" placeholder="Client" ng-keypress="($event.which === 13)?getResult():0" tabindex="6" ng-hide="hasSponsorOptions">
                                                <!-- <select class="form-control searchSelect ng-pristine ng-untouched ng-valid ng-hide" ng-model="search.sponsor" tabindex="6 " ng-show="hasSponsorOptions">
                                                    <option value="">--Select--</option> -->
                                                    <!-- ngRepeat: option in sponsorOptions -->
                                                </select>
                            
                                                <label for="txtField" class="searchCol2Label ng-binding">Field House :</label>
                                                <input id="txtField" type="text" ng-model="search.field" class="form-control searchCol2Field ng-pristine ng-untouched ng-valid" placeholder="Field House" ng-keypress="($event.which === 13)?getResult():0" tabindex="7" ng-hide="hasFieldHouseOptions">
                                                <!-- <select class="form-control searchSelect ng-pristine ng-untouched ng-valid ng-hide" ng-model="search.field" tabindex="7" ng-show="hasFieldHouseOptions">
                                                    <option value="">--Select--</option> -->
                                                    <!-- ngRepeat: option in fieldHouseOptions -->
                                                </select>
                            
                            
                                                <label class="searchCol3Label ng-binding">Mode :</label>
                                                <select class="form-control searchCol3Field ng-pristine ng-untouched ng-valid" ng-model="search.type" tabindex="8">
                                                    <option value="">--Select--</option>
                                                    <!-- ngRepeat: option in pollModeOptions --><option ng-repeat="option in pollModeOptions" value="Telephone" class="ng-binding ng-scope">Telephone</option><!-- end ngRepeat: option in pollModeOptions --><option ng-repeat="option in pollModeOptions" value="Online" class="ng-binding ng-scope">Online</option><!-- end ngRepeat: option in pollModeOptions --><option ng-repeat="option in pollModeOptions" value="F2F" class="ng-binding ng-scope">F2F</option><!-- end ngRepeat: option in pollModeOptions --><option ng-repeat="option in pollModeOptions" value="Mixed" class="ng-binding ng-scope">Mixed</option><!-- end ngRepeat: option in pollModeOptions --><option ng-repeat="option in pollModeOptions" value="Mail" class="ng-binding ng-scope">Mail</option><!-- end ngRepeat: option in pollModeOptions --><option ng-repeat="option in pollModeOptions" value="Focus Group" class="ng-binding ng-scope">Focus Group</option><!-- end ngRepeat: option in pollModeOptions --><option ng-repeat="option in pollModeOptions" value="Online Focus Group" class="ng-binding ng-scope">Online Focus Group</option><!-- end ngRepeat: option in pollModeOptions --><option ng-repeat="option in pollModeOptions" value="Other" class="ng-binding ng-scope">Other</option><!-- end ngRepeat: option in pollModeOptions -->
                                                </select>
                                            </div>
                            
                                            <div class="form-group-sm" style="margin-top: 5px;" ng-show="isAdvSearch">
                                                <label class="searchCol1Label ng-binding">Subject :</label>
                                                <input type="text" ng-model="search.subject" class="form-control searchCol1Field ng-pristine ng-untouched ng-valid" placeholder="Subject" ng-keypress="($event.which === 13)?getResult():0" tabindex="9" ng-hide="hasSubjectOptions">
                                                <!-- <select class="form-control searchSelect searchCol1Field ng-pristine ng-untouched ng-valid ng-hide" ng-model="poll.subject" tabindex="9" ng-show="hasSubjectOptions">
                                                    <option value="">--Select--</option> -->
                                                    <!-- ngRepeat: option in subjectOptions -->
                                                </select>
                            
                            
                                                <label class="searchCol2Label ng-binding">Notes:</label>
                                                <input type="text" ng-model="search.notes" class="form-control searchCol2Field ng-pristine ng-untouched ng-valid" placeholder="Notes" ng-keypress="($event.which === 13)?getResult():0" tabindex="10">
                            
                                                <label class="searchCol3Label ng-binding">Geo :</label>
                                                <input id="txtCategory1" type="text" ng-model="search.category1" class="form-control searchCol3Field ng-pristine ng-untouched ng-valid" placeholder="Geo" ng-keypress="($event.which === 13)?getResult():0" tabindex="11" ng-hide="hasCategory1Options">
                                                <!-- <select class="form-control searchSelect ng-pristine ng-untouched ng-valid ng-hide" ng-model="search.category1" tabindex="11" ng-show="hasCategory1Options">
                                                    <option value="">--Select--</option> -->
                                                    <!-- ngRepeat: option in category1Options -->
                                                </select>
                            
                                                <label class="searchCol4Label ng-binding">Universe :</label>
                                                <input id="txtCategory2" type="text" ng-model="search.category2" class="form-control searchCol4Field ng-pristine ng-untouched ng-valid" placeholder="Universe" ng-keypress="($event.which === 13)?getResult():0" tabindex="12" ng-hide="hasCategory2Options">
                                                <!-- <select class="form-control searchSelect ng-pristine ng-untouched ng-valid ng-hide" ng-model="search.category2" tabindex="12" ng-show="hasCategory2Options">
                                                    <option value="">--Select--</option> -->
                                                    <!-- ngRepeat: option in category2Options -->
                                                </select>                     
                                            </div>
                            
                            
                                            <div class="form-group-sm" style="margin-top: 5px;">
                                                <div style="margin-left: 14px;"></div>
                                                <span ng-show="true">
                                                    <input id="chkTopline" type="checkbox" ng-model="search.isTopline" ng-change="searchOptionChanged()" tabindex="14" class="ng-pristine ng-untouched ng-valid">
                                                    <label for="chkTopline" class="ng-binding">Topline</label>
                                                </span>
                                                <span ng-show="true">
                                                    <input id="chkQuestionnaire" type="checkbox" ng-model="search.isQuestionnaire" ng-change="searchOptionChanged()" tabindex="15" class="ng-pristine ng-untouched ng-valid">
                                                    <label for="chkQuestionnaire" class="ng-binding"> Questionnaire</label>
                                                </span>
                                                <span ng-show="true">
                                                    <input id="chkAnalysis" type="checkbox" ng-model="search.isAnalysis" ng-change="searchOptionChanged()" tabindex="16" class="ng-pristine ng-untouched ng-valid">
                                                    <label for="chkAnalysis" class="ng-binding">Analysis</label>
                                                </span>
                                                <span ng-show="true">
                                                    <label style="margin-left: 6px; margin-right: 6px;"> | </label>
                                                    <input id="chkOther" type="checkbox" ng-model="search.isOther" ng-change="otherChanged()" tabindex="16" class="ng-pristine ng-untouched ng-valid">
                                                    <label for="chkOther" class="ng-binding"> Other</label>
                                                </span>
                            
                                                <label style="margin-left: 6px; margin-right: 6px;"> | </label>
                                                <input id="chkPollOnly" type="checkbox" ng-model="search.pollOnly" tabindex="16" class="ng-pristine ng-untouched ng-valid">
                                                <label for="chkPollOnly" class="ng-binding">Project Only</label>
                            
                                                    <button type="button" style="margin-right: 1px; margin-left: 205px;" class="btn btn-sm btn-success" ng-click="getResult()" tabindex="17">
                                                        <i class="fas fa-search" aria-hidden="true"></i> Search
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-success ng-hide" ng-click="showAdvanceSearch()" ng-hide="isAdvSearch" tabindex="18">
                                                        <i class="fas fa-arrow-down" aria-hidden="true"></i>Adv Search
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-success" ng-click="hideAdvanceSearch()" ng-show="isAdvSearch" tabindex="19">
                                                        <i class="fas fa-arrow-up" aria-hidden="true"></i>Less
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-warning" ng-click="clearSearch()" tabindex="20">
                                                        <i class="fas fa-eraser" aria-hidden="true"></i>Clear
                                                    </button>
                            
                                                    <div class="btn-group" role="group">
                                                        <button type="button" class="btn btn-sm dropdown-toggle btn-success" ng-disabled="isExportDisabled()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled">
                                                            Export
                                                            <i class="fas fa-download"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a ng-click="export(true)">With project ID</a></li>
                                                            <li><a ng-click="export(false)">W/out project ID</a></li>
                                                        </ul>
                                                    </div>
                            </div>
                            
                                        </form>
                                    </div>
                                </div>                            
                
                            
                               
                            
                            
                            
                            </div>
                        </div>
                    </div>

                    <div id="footer">
                        <footer class="text-center">
                           <div class="footer-below">
                              <!-- <div class="container"> -->
                                 <div class="row" style="height: 21px;">
                                    <div class="col-lg-12 ng-binding" ng-bind-html="copyrightText" style="font-size: 10pt;">Copyright © PARC Enterprises LLC 2021</div>
                                     <div style="font-size: 7pt;" ng-show="showLoginLink()" class="">
                                         <a style="margin-right: 6px; color: white; text-decoration: underline;" ng-click="login()" href="">ADMIN LOGIN</a>
                                         <a style="color: white; text-decoration: underline;" href="" ng-click="showTermsOfService()" class="tos-link">TERMS OF SERVICE</a>
                                     </div>
                                 </div>
                              <!-- </div> -->
                           </div>
                        </footer>
                     </div>
            </div>

            <div id="controls">

                <h1>PARC Color Configurator</h1>

                <p>Test out different PARC color schemes and then export the relevant CSS.</p>
                <p>Currently does not handle:
                    <ul>
                        <li>Spinner</li>
                        <li>Within-menu colors (including calendar, login menu, export menu)</li>
                        <li>Anything in the results window</li>
                    </ul>
                </p>


                <section>
                    <h3>Main Colors</h3>
                    <p><input type="color" name="primary" v-model="primary"> <label for="primary">Primary ({{ primary }})</label></p>
                    <p><input type="color" name="accent" v-model="accent"> <label for="accent">Accent ({{ accent }})</label></p>
                    <h4>Generate Accent</h4>
                    <p><label for="lighter">Lighter</label> <input type="radio" name="accentVariant" id="lighter" value="lighter" v-model="accentVariant">
                    <label for="darker">Darker</label> <input type="radio" name="accentVariant" id="darker" value="darker" v-model="accentVariant">
                    <button v-on:click="accent = tinter(accentVariant)">Pick accent for me</button></p>

                    <h3>Header</h3>
                    <p><input type="color" name="header" v-model="header"> <label for="header">Header background ({{ header }}))</label>
                    <input type="checkbox" name="footerHeader" v-model="footerHeader"> <label for="footerHeader">Match footer?</label></p>
                    <p><input type="color" name="menuBorder" v-model="menuBorderCustom" :disabled="menuPrimary"> <label for="menuBorder">Menu border ({{ menuBorder }})</label>
                    <input type="checkbox" name="menuPrimary" v-model="menuPrimary"> <label for="menuPrimary">Match primary?</label></p>

                    <p>
                        <details>
                            <summary>Click for additional settings (less common)</summary>
                            <h3>Font Colors</h3>
                            <p><input type="color" name="headerFont" v-model="headerFont"> <label for="headerFont">Header text ({{ headerFont }})</label></p>
<!--                             
                            <p><input type="color" name="menuButtonFont" v-model="menuButtonFont"> <label for="menuButtonFont">Menus and buttons ({{ menuButtonFont }})</label></p>
                            <p><input type="color" name="contentFont" v-model="contentFont"> <label for="contentFont">Search box and results ({{ contentFont }})</label></p>
        
                            <h3>Content</h3>
                            <p><input type="color" name="searchBorder" v-model="searchBorder"> <label for="searchBorder">Search box header and border ({{ searchBorder }})</label></p>
                            <p><input type="color" name="contentBg" v-model="contentBg"> <label for="contentBg">Content background ({{ contentBg }})</label></p> -->
                    </details>
                    </p>

                    <button v-on:click="defaultColors">Reset to defaults</button>
                    
                </section>

                <button v-on:click="exportCSS">Export CSS to clipboard</button>
            </div>
        </div>
        <!-- Vue and etc. -->
        <script src="controls.js"></script>
    </body>
</html>