/* Overall design and layout*/

#container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#footer {
    position: relative;
}

#content {
    padding-bottom: 33vh;
}

footer {
    width: 100%;
}

@media (min-width: 1000px) {
    #container { 
        display: grid;
        grid-template-columns: 3fr 1fr; 
        grid-template-rows: none;
    }

    nav {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 1010px;
    }

    nav, footer {
        min-width: 1010px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 1010px;
    }

    nav, footer {
        min-width: 1010px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    nav, footer {
        min-width: 1170px;
    }
}

/* Preview */
/* Customized styling - using CSS variables!*/

#preview .menuSection {
    background-color: var(--primary-color);
    border-top: 1px solid var(--menu-border);
    border-bottom: 1px solid var(--menu-border);
}

#preview .btn-success, .btn-warning {
    background-color: var(--primary-color);
    border-color: var(--primary-dark);
}

#preview .btn-success:hover, .btn-warning:hover {
    background-color: var(--accent-color);
    border-color: var(--primary-dark);
}

#preview .navbar-default .navbar-nav > .active > a {
    background-color: var(--accent-color);
}

#preview .navbar-default {
    background-color: var(--header-bg);
}

#preview .navbar-default .navbar-brand {
    color: var(--header-font);
}

#preview footer .footer-below {
    background-color: var(--footer-bg);
}

/* #preview body {
    color: var(--menu-button-font);
} */

/* Controls */
/* A lot of this is just overriding the PARC styles. */
#controls {
    font-family: sans-serif;
    font-size: 12pt;
    padding: 0 10px;
    max-height: 100vh;
    overflow-y: auto;
}

#controls h1, h2, h3, h4 {
    font-family: sans-serif;
    text-transform: capitalize;
    margin-top: 15px;
}

#controls p {
    font-size: 12pt;
}

#controls section {
    border: solid 1px black;
    padding: 5px 10px;
    margin: 10px 0;
}

#controls label {
    font-weight: normal;
    height: 20px;
    vertical-align: top;
}

#controls details > summary {
    display: list-item;
    cursor: pointer;
}

#controls input[type="checkbox"] {
    height: 15px;
    width: 15px;
    border: solid .5px #AAAAAA;
    border-radius: 5px;
    position: relative;
    top: -2px;
    margin-left: 5px;
}

#controls input[type="color"] {
    width: 40px;
    height: 20px;
    border: solid .5px #AAAAAA;
    border-radius: 5px;
    padding: 0;
    background-clip: border-box;
}

#controls input[type="color"]:hover {
    width: 40px;
    height: 20px;
    border: solid .5px #000000;
    border-radius: 3px;
    padding: 0;
    background-clip: border-box;
}

#controls button {
    font-size: 10pt;
}